@green: rgb(0, 100, 0);
@orange: rgb(255, 145, 0);
@red: rgb(200, 0, 0);
@blue: rgb(0, 23, 151);

// Colors:
.green {
    color: @green;
}

.orange {
    color: @orange;
}

.red {
    color: @red;
}

.blue {
    color: @blue;
}

body {
    background-color: rgb(255, 242, 231);


    #header {
        #logo {
            img {
                width: 50px;
            }

            p {
                color: @orange;
                font-family: LucidaHW;
                font-size: 2em;
            }
        }
    }

    nav {
        li {
            border-bottom: 1px solid @green;
            display: inline;
            padding: 5px;
            margin: 10px;
        }
    }

    #content {
        margin: 10px 40px 40px 40px;
        padding: 20px;

        h1 {
            color: @green;
            text-align: center;
        }

        h4 {
            color: @red;
            margin: 50px 0px 0px 0px;
        }

        .group {
            margin: 0px 0px 30px 40px;

            .descr,
            .file,
            .terminal {
                margin: 20px;
                padding: 7px;
            }

            .file {
                background-color: rgb(234, 255, 221);
                border: 1px solid lightgrey;
                border-radius: 4px;
                color: black;
                font-family: 'Courier New', Courier, monospace;
                font-size: 12pt;
            }

            .terminal {
                background-color: black;
                border-radius: 4px;
                color: white;
                font-family: monospace;
                font-size: 10pt;
                margin-left: 50px;
            }


            .descr {
                background-color: lightgrey;
                border: 1px solid grey;
                border-radius: 4px;
                font-family: sans-serif;
                font-size: 12pt;
                text-align: justify;
            }
        }

        table {
            td {
                padding: 7px;
                vertical-align: text-bottom;
            }

            .terminal {
                background-color: black;
                border-radius: 4px;
                color: white;
                font-family: monospace;
                font-size: 10pt;
                margin: 15px 8px 8px 8px;
                padding: 7px;
                width: 400px;
            }
        }
    }
}

@font-face {
    font-family: "LucidaHW";
    src: url("../fonts/TR Lucida Handwriting Italic.ttf");
}